html {
  height: 100%;
  width: 100%;
  color: white;
}

header {
  color: white;
  height: 20px;
  text-align: center;
  margin-top: -1em;
}

body {
  background-image: url(https://images.unsplash.com/photo-1625942871560-a9255b887ec5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
}
.game-board-container {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-frame {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.player-icon {
  font-size: 8em;

}

.game-board {
  margin: 0 auto;
  height: 28.5em;
  width: 28.5em;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.win-message {
  font-size: 3vh;
  padding: 3vh;
}

.hidden {
  display: none;
}


.square {
  border: .5px solid #D8BFD8;
  height: 150px;
  width: 150px
}
